PRIVATE_KEY=
RPC_ENDPOINT=https://mainnet.helius-rpc.com/?api-key=
RPC_WEBSOCKET_ENDPOINT=wss://mainnet.helius-rpc.com/?api-key=

SWAP_AMOUNT=0.001             
DISTRIBUTION_WALLETNUM=20       

JITO_FEE=0.001

TOKEN_NAME="Floki Sniffing SOL"
TOKEN_SYMBOL="FLOKI"
DESCRIPTION='Floki to memes land, "Traveling Somewhere That Doesn’t Exist? Of Course, I’m Coming."'
TOKEN_SHOW_NAME="Desk"
TOKEN_CREATE_ON="https://pump.fun"
TWITTER="https://x.com/ragnarchain/status/1913600342895562761"
TELEGRAM="https://t.me"
WEBSITE="https://website.com"
FILE="./image/ragnar.jpg"
